
#container
{
    width:960px;
    margin:0 auto 0 auto;
    
    
}

#header 
{
	text-align: center;
	width: 100%;
	background-color: yellow;
	
	
}

#content_left
{
    width: 45%;
    display: inline-block;
    padding-bottom: 100px;
    
}

#content_right
{
    width: 45%;
    display: inline-block;
    margin-left: 9%;
    padding-bottom: 100px;
    
}

#footer
{
    padding: 20px;
    text-align: center;
    background-color: yellow;
    position: fixed;
    bottom: 0; /*means that it will stick to the bottom of the page and nothing under it*/
    left: 0;
    width: 100%;
    
}

a
{
    text-decoration: none;
    color: black;
    font-size: 32px;
}

h1 
{
	padding: 20px 0 20px 0;
}

.saleImage
{
    position: absolute;
    top: 0;
    right: 0;

    
}